.search {
  max-width: 900px;
  display: block;
  margin: 20px auto;
  background-color: #e9d0d8;
  border-radius: 5px;
}

.search .search-wrapper {
  display: block;
  margin: 0 auto;
  padding: 30px;
}
